services:
  img:
    build: .
    image: ubaidnaeen/node-app:alpine
    container_name: node-app
    ports:
      - 3000:3000 

    environment:
      - PORT=3000
      - NODE_ENV=development
    volumes:
     - .:/app
     - /app/node_modules 